<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SmartMinds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app">
            <etat></etat>
    </div>

        <a href="/users/logout">Deconnexion</a>
        <pre>
            email : {{email}}
            name : {{name}}
            synchronized : {{synchronized}}
            nb of accounts : {{nb_accounts}}
            nb of numbers : {{nb_numbers}}
            nb_home_numbers : {{nb_home_numbers}}
            nb_neighbours_numbers : {{nb_neighbours_numbers}}
        </pre>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource.min.js"></script>
    <script src="js/myscript.js"></script>
</body>

</html>